.box--todo {
  padding: 10px 15px;
  display: grid;
  align-items: center;

  p,
  a {
    max-width: 50%;
    font-size: 18px;
    color: var(--color-000);
    text-decoration: none;
  }
  input {
    margin: 0;
    padding: 0;
    background-color: transparent;
    outline: none;
    word-break: break-word;
    transition: color 250ms ease-in-out;
  }
}
.todo__group {
  display: flex;
  align-items: center;
}
.box__buttons {
  display: flex;
  align-items: center;
  position: relative;
  max-height: 40px;
  margin-left: auto;

  button {
    display: grid;
    place-items: center;
  }
  .icon {
    fill: var(--color-000);
    transform: scale(0.7);
    transition: fill 250ms ease-in-out;
  }
}
.button--done {
  padding: 0;
  height: 30px;
  width: 30px;
  background-color: transparent;
  outline: 3px solid var(--color-300);
  border: 6px solid var(--color-600);

  &:hover {
    background-color: var(--color-300);
  }
}
.shared {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
  font-weight: 700;
  color: var(--color-300);

  span {
    font-weight: 500;

    &:not(:last-child)::after {
      content: ",\00a0";
    }
  }
}
.doneState {
  .button--done {
    background-color: var(--color-300);
    outline: 3px solid var(--color-300);
  }
  input {
    text-decoration: line-through;
    color: var(--color-300);
  }
  .icon {
    fill: var(--color-100);
  }
}
