.box--todo {
  padding: 10px 15px;
  display: grid;
  align-items: center;

  p,
  a {
    max-width: 50%;
    font-size: 18px;
    color: white;
    text-decoration: none;
  }
  input {
    margin: 0;
    padding: 0;
    background-color: transparent;
    outline: none;
    word-break: break-word;
  }
}
.todo__group {
  display: flex;
  align-items: center;
}
.box__buttons {
  display: flex;
  position: relative;
  max-height: 40px;
  margin-left: auto;

  button {
    display: grid;
    place-items: center;
  }
  img {
    transform: scale(55%);
  }
}
.shared {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
  font-weight: 700;
  color: var(--color-300);

  span {
    font-weight: 500;

    &:not(:last-child)::after {
      content: ",\00a0";
    }
  }
}
.doneState {
  .button--done {
    background-color: var(--color-300);
    outline: 3px solid var(--color-300);
  }
  p {
    text-decoration: line-through;
    color: var(--color-300);
  }
}
