.toast {
  position: absolute;
  top: 75px;
  left: 0;
  max-width: 100%;
  color: hsl(340, 40%, 90%);

  padding: 7px 20px 9px 20px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  background-color: hsl(340, 40%, 25%);

  p {
    display: block;
    width: 100%;
    max-width: 100% !important;
  }
}

.snackbar {
  position: fixed;
  right: 2%;
  bottom: 5%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 60px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 1;
  
  .symbol {
    flex: 20%;
  }
  .message {
    flex: 80%;
    text-align: start;
    font-weight: bold;
  }
}



#show {
  visibility: visible;
  animation: fadeIn 0.5s, fadeOut 0.5s 1.75s;
}
#hide {
  visibility: hidden;
}

@keyframes fadeIn {
  from {
    // bottom: 0;
    opacity: 0;
  }
  to {
    // bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    // bottom: 30px;
    opacity: 1;
  }
  to {
    // bottom: 0;
    opacity: 0;
  }
}