nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 30px;
  background-color: var(--color-500);
  box-sizing: border-box;
}
.login__form {
  width: 100%;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--color-600);
  box-sizing: border-box;
  p {
    font-size: 27px;
    font-weight: 700;
    margin: 15px 0 25px 0;
  }
  button {
    margin: 20px 0;
  }
  label {
    margin: 5px 0 7px 3px;
    font-weight: 500;
    color: var(--color-100);
  }
  .signup {
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: transparent;
    color: var(--color-100);
    text-decoration: underline;
    transition: color 200ms ease-in-out;

    &:hover {
      color: var(--color-200);
    }
  }
}
main {
  margin-top: 60px;
  max-width: 650px;
}
.column {
  display: flex;
  flex-direction: column;
}
.box {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-600);
  box-sizing: border-box;
  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: var(--color-500);
  }
}
.date {
  margin-right: 20px;
  font-weight: 700;
  color: var(--color-200);
}
form {
  display: grid;
}
input {
  font-size: 18px;
  color: var(--color-000);
  margin-bottom: 10px;
  padding: 7px 20px 9px 20px;
  background-color: var(--color-400);
  border: none;
  border-radius: 10px;
}
.input__group {
  display: grid;
  grid-auto-flow: column;

  input:nth-of-type(2) {
    margin-left: 15px;
  }
}
button {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-000);
  margin-right: 15px;
  padding: 7px 20px 9px 20px;
  background-color: var(--color-300);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: var(--color-400);
  }
  &:last-child {
    margin: 0;
  }
}
.button--edit {
  margin-right: 10px;
  height: 40px;
  width: 40px;
  padding: 0;
}
.button--delete {
  position: relative;
  height: 40px;
  width: 40px;
  padding: 0;
  background-color: var(--color-400);

  &:hover {
    background-color: hsl(340, 40%, 25%);
  }
}
